.bg-custom-color{
    background-color: black;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #ffffff;
    padding: 14px;
    text-align: center;
}

body{
    background-image:
            linear-gradient(45deg, rgb(73, 160, 30) 0%, rgb(73, 160, 30) 6%,rgb(88, 141, 55) 6%, rgb(88, 141, 55) 11%,rgb(103, 122, 81) 11%, rgb(103, 122, 81) 55%,rgb(118, 103, 106) 55%, rgb(118, 103, 106) 81%,rgb(132, 84, 131) 81%, rgb(132, 84, 131) 83%,rgb(147, 65, 156) 83%, rgb(147, 65, 156) 92%,rgb(162, 46, 182) 92%, rgb(162, 46, 182) 95%,rgb(177, 27, 207) 95%, rgb(177, 27, 207) 100%),
            linear-gradient(112.5deg, rgb(73, 160, 30) 0%, rgb(73, 160, 30) 6%,rgb(88, 141, 55) 6%, rgb(88, 141, 55) 11%,rgb(103, 122, 81) 11%, rgb(103, 122, 81) 55%,rgb(118, 103, 106) 55%, rgb(118, 103, 106) 81%,rgb(132, 84, 131) 81%, rgb(132, 84, 131) 83%,rgb(147, 65, 156) 83%, rgb(147, 65, 156) 92%,rgb(162, 46, 182) 92%, rgb(162, 46, 182) 95%,rgb(177, 27, 207) 95%, rgb(177, 27, 207) 100%),
            linear-gradient(67.5deg, rgb(73, 160, 30) 0%, rgb(73, 160, 30) 6%,rgb(88, 141, 55) 6%, rgb(88, 141, 55) 11%,rgb(103, 122, 81) 11%, rgb(103, 122, 81) 55%,rgb(118, 103, 106) 55%, rgb(118, 103, 106) 81%,rgb(132, 84, 131) 81%, rgb(132, 84, 131) 83%,rgb(147, 65, 156) 83%, rgb(147, 65, 156) 92%,rgb(162, 46, 182) 92%, rgb(162, 46, 182) 95%,rgb(177, 27, 207) 95%, rgb(177, 27, 207) 100%),
            linear-gradient(90deg, rgb(24, 15, 143),rgb(170, 57, 157)); background-blend-mode:overlay,overlay,overlay,normal;
    background-size: cover;
    color: white;
    font-family: Georgia, fantasy;
}

textarea {
    border-radius: 10px; /* Задаване на радиус на заобляне */
    padding: 10px; /* Добавяне на вътрешно запълване за по-добър външен вид */
}

.navbar{
    background-color: #bababa;
    border-color: white;
}

.navbar-brand{
    margin-left: 20px;
}
.nav-link{
    margin-right: 20px;
}
.search-form {
    height: 40px;
    display: flex;
    border: 2px #ccc;
    border-radius: 5px;
    overflow: hidden;
    width: 650px;
    margin-right: 10px;
}

.search-input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 2px;
    outline: none;
}

.search-button {
    background-color: white; /* Променете цвета на бутона според вашите предпочитания */
    color: grey;
    border: none;
    padding: 10px 20px;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: grey; /* Променете цвета на бутона при ховър според вашите предпочитания */
    color: white;
}

.search-admin-form {
    height: 40px;
    display: flex;
    border: 2px #ccc;
    border-radius: 5px;
    overflow: hidden;
    width: 500px;
    margin-right: 10px;
}

.search-admin-input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 2px;
    outline: none;
}

.search-admin-button {
    background-color: white;
    color: grey;
    border: none;
    padding: 10px 20px;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-admin-button:hover {
    background-color: lightgray;
}

.card {
    height: 95%;
}

.card-img-top {
    width: 100%; /* Задава широчината на изображението на 100% от родителския елемент */
    height: 250px;  /* Позволява на изображението да запази своето съотношение на страници */
}

.card-title {
    font-size: 16px; /* Задава размер на шрифта от 18 пиксела */
}

.card-text {
    font-size: 14px; /* Задава размер на шрифта от 18 пиксела */
}

.transparent-btn {
    background-color: transparent;
    border-color: transparent;
}

.transparent-btn:hover,
.transparent-btn:focus {
    background-color: #ccc; /* Сив цвят за ховър и фокус */
    border-color: #ccc;
}

.rating-container {
    display: flex;
}



.modal-content {
    background-color: #1a1e24; /* Светло сив цвят на фона */
    border-radius: 5px; /* Закръгленост на ъглите */
}

.btn-secondary {
    padding: 5px 10px; /* По-малко вътрешно запълване */
    font-size: 14px; /* Размер на шрифта */
    text-align: center; /* Центриране на текста */
}


/* Стилизация на бутона */
button.close {
    background-color: #1a1e24;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}

/* Стилизация на иконата на бутона */
button.close span {
    color: #fff; /* Заменете #fff с желания от вас цвят на иконата */
    font-size: 20px; /* Задава размер на шрифта на иконата */
    line-height: 20px; /* Задава височина на реда, за да центрира иконата */
}

.rating-container{
    margin-left: 55px;
    margin-bottom: 10px;
}

.btn.btn-secondary{
    line-height: 15px;
}

.row{
    margin-bottom: 20px;
}

.see-more {
    margin-top: -15px;
    margin-left: 15px;
}

.movie-content {
    display: flex; /* За да направите елементите на ред */
    align-items: flex-start; /* За вертикално подравняване в началото */

}

.movie-img,
.movie-video {
    margin-left: 5px;
    max-height: 400px; /* Максимална височина за еднаква височина */
    overflow: hidden; /* За да скриете излишната част от снимката и видеоклипа */
}

.movie-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Поставете зад фона на всички останали елементи */
    background-size: cover;
    filter: blur(10px); /* Добавете размазване на фона */
    opacity: 0; /* Начална прозрачност */
    transition: opacity 0.5s ease; /* Анимация за плавно появяване/изчезване */
}

.movie-content {
    position: relative;
    z-index: 1;
}

.movie-background.active {
    opacity: 1; /* Покажете фона при активиране */
}

.blur-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: blur(10px); /* Adjust the blur intensity as needed */
    z-index: -1; /* Ensure it is behind other content */
}

.container-similar{
    margin-left: 20px;
    margin-top: 30px;
    color: black;
}

.movie-main-info hr {
    width: 98%;
}

.movie-main-info{
    margin-left: 20px;
    color: black;
}
.movie-info {
    position: relative;
    z-index: 1;
    margin-left: 50px;
    margin-top: 20px;
    /*position: relative;*/
    /*z-index: 2;*/
    /*padding: 20px;*/
    /*border-radius: 10px;*/
    /*margin-top: -150px;*/
}

.centered-text {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.media-list ul {
    list-style-type: none; /* Премахва точките от списъка */
    padding: 0;
    margin: 0;
}

.media-list li {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.media-list li:last-child {
    border-bottom: none; /* Премахва границата от последния елемент */
}

.media-list li img {
    margin-right: 10px;
    width: 100px; /* Променете размера на снимката според нуждите */
    height: auto;
    border-radius: 5px; /* Заоблен край на снимката */
}

.movie-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.m-info {
    display: flex;
    align-items: flex-start; /* Центрира елементите вертикално отгоре */
}

.m-info img {
    margin-right: 10px; /* Разстояние между снимката и описанието */
}

.m-info .movie-description {
    margin-top: 0; /* Изчиства възможно добавен горен мардж */
}

.dropdown-menu-right {
    right: 0;
    left: auto;
}

.custom-link {
    text-decoration: none;
    color: black;
}

.custom-link:hover {
    text-decoration: none;
}





.rate-button {
    --width: 100px;
    --height: 35px;
    --tooltip-height: 35px;
    --tooltip-width: 90px;
    --gap-between-tooltip-to-button: 18px;
    --button-color: #222;
    --tooltip-color: #fff;
    width: var(--width);
    height: var(--height);
    background-color: rgb(66, 66, 66);
    position: relative;
    text-align: center;
    border-radius: 0.45em;
    font-family: "Arial", serif;
    transition: background 0.3s;
}

.rate-text {
    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    color: white;
}

.button-wrapper,.rate-text,.icon {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: #fff;
}

.rate-text {
    top: 0
}

.rate-text,.icon {
    transition: top 0.5s;
}

.icon {
    color: #fff;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon svg {
    width: 24px;
    height: 24px;
}

.rate-button:hover {
    background: #222;
}

.rate-button:hover .rate-text {
    top: -100%;
}

.rate-button:hover .icon {
    top: 0;
}

.rate-button:hover:before,.rate-button:hover:after {
    opacity: 1;
    visibility: visible;
}

.rate-button:hover:after {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
}

.rate-button:hover:before {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
}



.actor-info {
    display: flex;
    align-items: center;
}

.actor-img {
    margin-right: 20px;
}

.actor-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.actor-name {
    margin-bottom: 5px;
    text-decoration: none;
}

.actors-container {
    display: flex;
    flex-wrap: wrap; /* Allows actors to wrap to the next line if there isn't enough space */
    gap: 10px; /* Space between actor cards */
}

.actor {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.actor-img-movie {
    width: 90px; /* Размер на изображението */
    height: 120px; /* Размер на изображението */
    border-radius: 10px; /* Леко заоблени ъгли */
    object-fit: cover;
    padding: 5px; /* Празно пространство около изображението */
    border: 2px solid grey; /* Граница за по-добър вид */
    margin-right: 10px;
    box-sizing: border-box; /* Уверете се, че padding не променя размера на самото изображение */
}





.login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid grey;
    border-radius: 10px;
    width: 600px;
    height: 400px;
    margin: 50px 50px 50px 350px;
    background-color: lightgray;
}

.main-form {
    background-color: transparent;
    border: none;
}
.submit-btn {
    border: 1px solid #273746;
    background-color: white;
    border-radius: 50px;
    margin-top: 20px;
    width: 500px;
    padding: 6px 172px;
}

.submit-btn:hover{
    background-color: #273746;
    border:none;
    color: white;
}

.form-control{
    border-radius: 50px;
}

.register-btn,
.forgot-btn {
    text-decoration: none;
    font-size: 18px;
    color: grey;
    margin-right: 30px;
    margin-left: 55px;
}

.register-btn:hover,
.forgot-btn:hover{
    color: #273746;
}

.register,
.forgot-password{
    margin-top: 20px;
    padding: 10px;
}

.error{
    color: red;
    margin-left: 12px;
}

.register-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid grey;
    border-radius: 10px;
    width: 600px;
    height: 520px;
    margin: 50px 50px 50px 350px;
    background-color: lightgray;
}

.form-property{
    width: 100%;
    margin-bottom: -20px;
}

.alert-different-pass{
    color: red;
    margin-left: 12px;
}

.forgot-pass-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid grey;
    border-radius: 10px;
    width: 600px;
    height: 300px;
    margin: 50px 50px 50px 350px;
    background-color: lightgray;
}

.forgot-pass-email{
    border: 1px solid #8080805c;
    padding: 6px 6px 6px 12px;
    border-radius: 50px;
    width: 100%;

}
.reset-btn {
    border: 1px solid #c26236;
    border-radius: 50px;
    width: 100%;
}

.comment-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.comment-wrapper textarea {
    flex: 1;
}

.comment-wrapper button {
    margin-left: 10px;
}

.container{
    margin-bottom: 20px;
}


.categories-container {
    display: flex;
    flex-wrap: wrap; /* Ако искате бутоните да се прехвърлят на следващ ред при недостиг на място */
    gap: 10px; /* Разстояние между бутоните */
    margin-bottom: 10px;
    align-items: center;
}

.watchlist-btn{
    margin-left: auto; /* Aligns the watchlist button to the right */
}

.button-6 {
    align-items: center;
    background-color: #8684844f;
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0px;
    min-height: 1rem;
    /*padding: calc(.875rem - 1px) calc(1.5rem - 1px);*/
    padding: calc(.5rem - 1px) calc(1rem - 1px); /* Намалено padding */
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.button-6:hover,
.button-6:focus {
    border-color: lightgray;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: #787878;
}

.button-6:hover {
    transform: translateY(-1px);
}

.button-6:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}




.category {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    font: bold 1rem sans-serif;
    text-transform: uppercase;
    color: #666666;
}
.category-name {
    padding: 0 .5em .25em;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: .3s;
    color: #666666;
    text-decoration: none;
}
.category-name:hover {
    color: #fff;
}
.category-name:before {
    content: "";
    position: absolute;
    inset: calc(100% - 3px) 0 0 0; /* 3px = the thickness */
    background: #dc02ef; /* the color */
    scale: 0 1;
    transition: .3s, translate 0s .3s;
}
.category:hover .category-name:before {
    scale: 1;
}
.category-name:hover:before {
    translate: 0;
    transition: .3s;
}
.category:hover .category-name:has(~ li:hover):before {
    translate: 100% 0;
    transition: .2s .2s,scale 0s .4s;
}
.category:hover .category-name:hover ~ .category-name:before {
    translate: -100% 0;
    transition: .2s .2s,scale 0s .4s;
}


.exist {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


.comment-section {
    margin-left: 20px; /* Adjust as needed */
}
.reply-section {
    margin-left: 40px; /* Adjust as needed */
}


.bio-info{
    text-align: justify;
}



.movie-detail {
    width: 100%;
    padding: 20px;
    box-sizing: border-box; /* Ensures padding is included in the width */
}

.full-width {
    background-color: honeydew;
    width: 1285px;
    margin-left: -84px; /* Adjust this if there's any default padding/margin on the container */
    margin-bottom: -20px;
    /*width: calc(100% + 30px); !* Adjust based on margin *!*/
    box-sizing: border-box;
}


.add-to-watchlist-button {
    width: 250px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 0px 15px;
    background-color: rgb(66, 66, 66);
    border-radius: 10px;
    color: white;
    border: none;
    position: relative;
    cursor: pointer;
    transition-duration: .2s;
    margin-right: 25px;
}

.bell {
    width: 13px;
}

.bell path {
    fill: rgb(0, 206, 62);
}

.arrow {
    position: absolute;
    right: 0;
    width: 30px;
    height: 100%;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-to-watchlist-button:hover {
    background-color: rgb(77, 77, 77);
    transition-duration: .2s;
}

.add-to-watchlist-button:hover .arrow {
    animation: slide-right .6s ease-out both;
}
/* arrow animation */
@keyframes slide-right {
    0% {
        transform: translateX(-10px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.add-to-watchlist-button:active {
    transform: translate(1px , 1px);
    transition-duration: .2s;
}






.director-info {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    margin-top: 50px;
}
.director-info img {
    margin-right: 20px;

}
.director-details {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}





.carousel-item {
    text-align: center;
    background-color: black; /* черен фон */
    overflow: hidden; /* скрива излишни части на изображението */
}

.carousel-item img {
    max-height: 90vh; /* максимална височина до височината на прозореца */
    max-width: 100%; /* съотношение на широчина */
    margin: auto;
}


.known-for-container{
    margin-top: 30px;
    margin-right: 5px;
}


.form-group{
    margin-bottom: 20px;
}

.form-group label{
    margin-bottom: 10px;
    margin-left: 5px;
}

.card-text-watchlist {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.jumbotron{
    width: 500px;
    align-items: center;
    margin-left: 310px;
}

.jumbotron-admin{
    width: 500px;
    align-items: center;
    margin-left: 400px;
}




.news-container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px; /* Разстояние между картите */
}

.news-card-img-top{
    height: 280px;
    width: 234px;
}

.news-card {
    position: relative;
    width: 240px;
    height: 304px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background: linear-gradient(315deg,#03a9f4,#ff0058);*/
}

.news-card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background: linear-gradient(315deg,#03a9f4,#ff0058);*/
    filter: blur(30px);
}

.news-card b {
    position: absolute;
    inset: 6px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
}

.news-card img {
    position: absolute;
    z-index: 3;
    scale: 0.8;
    transition: 0.5s;
}

.news-card:hover img {
    scale: 0.5;
    opacity: 0.9;
    transform: translateY(-70px);
}

.news-card .news-content {
    position: absolute;
    z-index: 3;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scale(0);
    transition: 0.5s;
}

.news-card:hover .news-content {
    transform: scale(1);
    bottom: 25px;
}

.news-content .text-title-news {
    position: relative;
    text-align: center;
}

.news-content .text-title-news span {
    font-weight: 300;
    font-size: 0.70em;
}

.news-content .sci {
    position: relative;
    margin-top: 5px;
}

.sci a {
    position: relative;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    justify-content: center;
    align-items: center;
}

.sci a:hover {
    fill: currentColor;
    color: rgba(255, 255, 255, 1);
}

.news-textarea{
    opacity: 0.5;
}



.delete-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.delete-button svg {
    width: 1em;
    height: 1em;
    vertical-align: text-bottom;
    fill: white;
    margin-top: 45px;
    margin-left: 10px;
}

.delete-button:hover svg {
    fill: red; /* примерно може да променис цвета на иконата, когато пома с mouse over the button */
}

.delete-button-reply{
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}
.delete-button-reply svg {
    width: 1em;
    height: 1em;
    vertical-align: text-bottom;
    fill: white;
    margin-top: 17px;
    margin-left: 10px;
}

.delete-button-reply:hover svg {
    fill: red; /* примерно може да променис цвета на иконата, когато пома с mouse over the button */
}


.delete-button-reply-admin{
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}
.delete-button-reply-admin svg {
    width: 1em;
    height: 1em;
    vertical-align: text-bottom;
    fill: black;
    margin-top: 17px;
    margin-left: 22px;
}

.delete-button-reply-admin:hover svg {
    fill: red; /* примерно може да променис цвета на иконата, когато пома с mouse over the button */
}