<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head}">
  <title>News</title>
</head>
<body>

<div th:if="${@currentUser.isLogged() and @currentUser.isAdmin()}">
  <div th:replace="~{fragments/adminNavigation :: adminNavigation}"></div>
</div>
<div th:unless="${@currentUser.isLogged() and @currentUser.isAdmin()}">
  <div th:replace="~{fragments/navigation :: navigation}"></div>
</div>




<!--th:style="'background-image: url(/uploads/' + ${n.image} + ');'"-->
<!--<img th:src="@{'/uploads/' + ${n.image}}" class="card-img-top">-->

<div class="container">
  <br><h1>News</h1><br>

  <div class="news-container" >
    <div th:each="n : ${news}">

      <div class="card-news">

        <div class="card-background"></div>

        <div class="card-details-news">
          <p class="text-title-news" th:text="${n.newsTitle}">Card title</p>
        </div>
        <button class="card-button-news">More info</button>
      </div>

    </div>
  </div>
</div>

<div>
  <footer th:replace="~{fragments/footer :: footer}"></footer>
</div>
</body>
</html>
