<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head}">
    <title>News Details</title>
</head>

<body>

<div th:if="${@currentUser.isLogged() and @currentUser.isAdmin()}">
    <div th:replace="~{fragments/adminNavigation :: adminNavigation}"></div>
</div>
<div th:unless="${@currentUser.isLogged() and @currentUser.isAdmin()}">
    <div th:replace="~{fragments/navigation :: navigation}"></div>
</div>

<div class="container">
    <br><h1 class="text-center" th:text="${newsById.newsTitle}"></h1><br>
    <p th:text="${newsById.date}"></p>
    <p th:text="${newsById.newsContent}" class="bio-info"></p>


    <img th:src="@{'/uploads/' + ${newsById.image}}" alt="Movie Image">

    <button type="button" class="btn btn-primary" th:if="${@currentUser.isLogged()} and ${@currentUser.isAdmin()}" data-toggle="modal" data-target="#updateModal">Update Information</button>
    <form th:if="${@currentUser.isLogged()} and ${@currentUser.isAdmin()}" th:action="@{'/news/delete/' + ${newsById.id}}" method="post" onsubmit="return confirm('Are you sure you want to delete this News?');">
        <button type="submit" class="btn btn-danger">Delete News</button>
    </form>

    <h2>Comments</h2>
    <div th:each="comment : ${commentsForNews}" class="comment-section">
        <h5><strong th:text="${comment.user.username}">Username</strong></h5>
        <h6 th:text="${comment.postDate}">Comment Date</h6>
        <p th:text="${comment.comment}">Comment</p>

        <form th:if="${@currentUser.isLogged() and @currentUser.id == comment.user.id}" th:action="@{'/news/delete-comment/' + ${comment.id}}" method="post">
            <input type="hidden" name="newsId" th:value="${newsById.id}">
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>

        <form th:action="@{'/news/reply/' + ${comment.id}}" method="post" th:if="${@currentUser.isLogged()}">
            <textarea name="replyContent" rows="2"></textarea>
            <button type="submit" class="btn btn-primary">Reply</button>
        </form>

        <div th:each="reply : ${comment.replies}" class="reply-section">
            <h6><strong th:text="${reply.user.username}">Username</strong></h6>
            <p th:text="${reply.comment}">Reply</p>
        </div>
        <hr>
    </div>

    <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>

    <div th:if="${@currentUser.isLogged()} and ${!@currentUser.isAdmin()}">
        <form method="post" th:action="@{'/news/comments/' + ${newsById.id}}">
            <div class="comment-wrapper comment-section">
                <textarea id="comment" name="comment" type="text" rows="4" cols="50"></textarea>
                <button class="see-more-button" type="submit">Send</button>
            </div>
        </form>
    </div>
</div>

<div id="updateModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update Director Information</h5>
            </div>
            <div class="modal-body">
                <form th:action="@{'/news/update'}" method="post">
                    <input type="hidden" id="id" name="id" th:value="${newsById.id}">

                    <label for="newsTitle">Title:</label><br>
                    <input type="text" id="newsTitle" name="newsTitle" th:value="${newsById.newsTitle}"><br>

                    <label for="newsContent">Biography:</label><br>
                    <textarea id="newsContent" name="newsContent" th:text="${newsById.newsContent}"></textarea><br>

                    <label for="date">Birthdate:</label><br>
                    <input type="date" id="date" name="date" th:value="${newsById.date}"><br>

                    <input type="submit" value="Update">
                </form>
            </div>
        </div>
    </div>
</div>
<div>
    <footer th:replace="~{fragments/footer :: footer}"></footer>
</div>
</body>
</html>
