<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head}">
  <title>Your Watchlist</title>
</head>
<body>

<div th:replace="~{fragments/navigation :: navigation}"></div>

<div class="container">
  <br><h1>Your Series Watchlist</h1><br>

  <div th:if="${watchlistSeries.isEmpty()}" class="alert alert-info" role="alert">
    <p>No series added to the series watchlist yet.</p>
  </div>

  <div class="media-list">
    <ul>
      <li th:each="series : ${watchlistSeries}">
        <div class="m-info">
          <img th:src="@{'/uploads/' + ${series.imageURL}}" alt="Movie Image">
          <div class="movie-description">
            <a th:href="@{'/series/' + ${series.id}}" class="text-decoration-none text-white">
              <h3 class="m-0 " th:text="${series.title}"></h3>
            </a><br>
            <form th:action="@{'/series/delete-watchlist-series/' + ${series.id}}" method="post">
              <button class="see-more-button" type="submit">Remove</button>
            </form>
          </div>
        </div><hr>
      </li>
    </ul>
  </div>
</div>

<div>
  <footer th:replace="~{fragments/footer :: footer}"></footer>
</div>

</body>
</html>
